html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.watermelon {
  background-color: #e97065;
}

.watermelon h1 {
  font-family: "Rammetto One", cursive;
}

.starfruit {
  background-color: #fbd25e;
}

.starfruit h1 {
  font-family: "Gravitas One", cursive;
}

.persimmon {
  background-color: #e86033;
}

.persimmon h1 {
  font-family: Comfortaa, cursive;
}
